<% include includes/header.ejs %>

<h1>This is the "Church Experience" page page using EJS templating engine.</h1>
<p>Welcome to the zionconnect.com Church Experience page.</p>

<% include includes/footer.ejs%>