<% include includes/header.ejs %>

<div class="container">

    <div class="jumbotron text-center">
        <h1>This is the index page using EJS templating engine.</h1>

        <a href="/login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Signup</a>
    </div>

</div>


<% include includes/footer.ejs%>