<% include includes/header.ejs %>

<h1>This is the "Member Experience" page page using EJS templating engine.</h1>
<p>Welcome to the zionconnect.com Member Experience page.</p>

<% include includes/footer.ejs%>